.presentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

nav{
    position:static;
}

#demo{
    padding-top:200px;
}

.presentacion h1{
    font-size: 35px;
    color: rgb(34, 32, 32);
    font-weight: bold;
}

.ro{
    width: 33%;
    display: flex;
}

.col img{
    width: 80%;
    height: auto;
}

#demo2 img{
    max-width: 100%;
    height: auto;
}

#demo2 button.carousel-control-next{
    padding-left: 140px;
}

#demo2 button.carousel-control-prev{
    padding-right: 140px;
}



.descuento{
    margin: 30px 0px 30px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descuento img{
    width: 95%;
    height: auto;
}

#demo2 div.row{
    margin: 20px 65px 20px 65px;
}

.nuevo {
    width: 20%;
    margin: 20px 30px 20px 20px;
     border-color: brown;
        border-width: 1px;
        border-style: solid;
}

.nuevo img{

    width: 50%;
    height: auto;

}

.container5{
    text-align: center;
}

.container5 div.col{
    width: 20%;
    margin: 20px 20px 30px 20px;
    

}

.container5 img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.num1{
   
   margin-left: 30px;
}

.marca{
    font-weight: bold;

}

.precio{
    font-weight: bold;
}

.nuevosP-descuento{
    color: rgb(223, 139, 12);
}

.porcentaje-desc{
    color: rgb(223, 139, 12);
    font-weight: bold;

}

